*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}



:root {

  --Scissors-Gradient: to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --Paper-Gradient: to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --Rock-Gradient: to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);


  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);


  --Background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));

}



body,
html {
  min-height: 100%;  
  font-family: 'Barlow Semi Condensed', sans-serif;
  

}

body {
  
  padding-bottom: 2em;
  background-image: var(--Background);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

h1 {
  font-size: 1.5rem;
}

.wrapper {
  padding: 1em 1em;
  width: 50%;
  margin: 0 auto;
}

.uppertable {

  border: 1px solid white;
  border-radius: 12px;
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
}

.scoretable {
  display: flex;
  gap: 1em;
  justify-content: center;

}

.score {
  background-color: white;
  color: var(--Score-Text);
  text-align: center;
  padding: 1em 1em;
  width: 40%;

}

.score p {
  font-size: 1.5rem;
}


.triangle {

  width: 80%;
  max-width: 313px;
  margin: 0 auto;
  margin-top: 7em;
  position: relative;

}

.choice {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;

  box-shadow: inset 0px 0.5rem 5px hsl(0, 0%, 45%);

}

.triangleimage {
  position: relative;
  z-index: -2;
}

.choice::before {

  position: absolute;
  content: "";
  width: 155px;
  height: 155px;
  z-index: -1;
  border-radius: 50%;


}

.choice.scissors::before {

  background: linear-gradient(var(--Scissors-Gradient));
  box-shadow: 0px 0.4em hsl(39, 89%, 35%);
}

.choice.rock::before {

  background: linear-gradient(var(--Rock-Gradient));
  box-shadow: 0px 0.4em hsl(349, 71%, 42%);
}

.choice.paper::before {

  background: linear-gradient(var(--Paper-Gradient));
  box-shadow: 0px 0.4em hsl(230, 89%, 42%);
}

.rock {
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;

}

.paper {
  top: -50px;
  left: -20px;
}

.scissors {
  top: -50px;
  right: -20px;
}

.rules {
  width: 7em;
  padding: .3em 1em;
  margin-left: 70%;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  letter-spacing: 2px;
}

.rules:hover {
  cursor: pointer;
}

.rulepic {

  position: absolute;
  width: 400px;
  height: 350px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 14px;

}

.rulepic img:last-of-type {
  position: absolute;
  top: 25px;
  right: 20px;
}

.rulepic img:last-of-type:hover {
  cursor: pointer;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}





/* result */

.choice.mychoice {

  width: 150px;
  height: 150px;
}

.choice.mychoice::before {

  position: absolute;
  content: "";
  width: 195px;
  height: 195px;
  z-index: -1;
  border-radius: 50%;

}

.choice.mychoice.scissors::before {

  background: linear-gradient(var(--Scissors-Gradient));
  box-shadow: 0px 0.4em hsl(39, 89%, 35%);
}

.choice.mychoice.rock::before {

  background: linear-gradient(var(--Rock-Gradient));
  box-shadow: 0px 0.4em hsl(349, 71%, 42%);
}

.choice.mychoice.paper::before {

  background: linear-gradient(var(--Paper-Gradient));
  box-shadow: 0px 0.4em hsl(230, 89%, 42%);
}

.choice.mychoice img {

  width: 65px;
}


.scissors.mychoice,
.paper.mychoice,
.rock.mychoice {
  position: static;

}

.rock.mychoice {
  margin: 0;
}

.result {

  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;

}

.middle {

  text-align: center;
}

.result p {

  text-align: center;
  letter-spacing: .1em;
  margin-bottom: 4em;
}

.middle p {
  font-size: 2rem;
  margin-bottom: .5em;
}

.middle button {
  padding: .3em .7em;
  border-radius: 8px;
}

.choice.mychoice.win::after {

  position: absolute;
  content: "";
  width: 280px;
  height: 280px;
  z-index: -2;
  border-radius: 50%;
  background: hsl(214, 47%, 23%, 0.9);
  box-shadow: 0 0 0 40px hsl(214, 47%, 23%, 0.5), 0 0 0 80px hsl(214, 47%, 23%, 0.2);

}


/* result */


@media only screen and (max-width: 666px) {

    .wrapper {

      width: 90%;
      margin-bottom: 3em;
    }

    .rules {
      margin-top: 1em;
      margin: 0 auto;
    }

    .rulepic {
      width: 330px;
      
    }

    .result {

      flex-direction: column;
     

    }

    .result div:nth-child(2) {

      order: 3;
      margin-top: 1em;
    }


    .result div:nth-child(3) {

            margin-top: 1em;
    }





}